body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 100vw;
  min-height: 100vh;
    overflow: hidden;
}

iframe {
    display: block;
    border: none;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
}
